.header {
    border-bottom: 1px solid #ececec;
}
.navigation {
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
    align-items: center;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--logo-color);
}
.logo__part {
    color: var(--main-color);
}
.navigation__menu__list {
    margin-left: 93px;
}
.menu {
    display: flex;

    &__item {
        color: var(--main-color);
    }
    &__item-list {
        margin-right: 50px;
    }
    &__item-list:last-child {
        margin-right: 0;
    }
    &__link {
        position: relative;
        display: block;
        @include font(500, 14px, 1.14, 0.02em);
        color: var(--main-color);
        padding-top: 32px;
        padding-bottom: 32px;
        &:hover,
        &:focus {
            color: var(--logo-color);
        }
    }
}

.current::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
}

.contacts {
    display: flex;
    margin-left: auto;

    &__item {
        color: var(--secondary-color);
    }
    &__item + .item {
        margin-left: 50px;
    }
    &__link {
        font-style: normal;
        @include font(500, 14px, 1.14, 0.02em);
        color: var(--secondary-color);
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-property: color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: var(--logo-color);
        }
    }

    &__icon {
        fill: currentColor;
        &:hover,
        &:focus {
            fill: var(--logo-color);
        }
    }
    &__icon-menu {
        margin-right: 10px;
    }
}

.container__contacts__list {
    display: flex;
    margin-left: auto;
}
