.modal {
    width: 528px;
    min-height: 581px;
    background: var(--hero-title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.data-modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 7px 5px 5px 6px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--hero-title-color);
    fill: var(--main-color);
    &:hover,
    &:focus {
        fill: var(--logo-color);
    }
}
.modal-title {
    @include font(700, 20px, 1.15, 0.03em);
    color: #212121;
    margin-bottom: 12px;
    width: 100%;
    text-align: center;
}

.form {
    width: 528px;
    height: 581px;
    padding: 40px;
}
.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}
.form-field input {
    outline: none;
    margin: 0;
    padding: 12px 12px 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.form-field textarea {
    outline: none;
}
.form-field label {
    margin-bottom: 4px;
}
.form-field::placeholder {
    @include font(null, 12px, 1.17, 0.01em);
    color: rgba(117, 117, 117, 0.5);
}
.form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(30%);
    display: inline-block;
    background-color: #ffffff;
    color: #212121;
}
.form-input {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 10px;
    &:hover,
    &:focus {
        border: 1px solid #2196f3;
    }
}
.form-input:hover ~ .form-link {
    fill: var(--logo-color);
}
.form-input:focus ~ .form-link {
    fill: var(--logo-color);
}
.conditions-block {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.conditions-block input [type='checkbox'] {
    width: 16px;
    height: 15px;
}
.conditions-block label {
    font-size: 20px;
    margin-left: 10px;
    @include font(null, 14px, 1.71, 0.03em);
    color: #757575;
}
.conditions-link {
    display: inline-block;
    text-decoration: underline;
    color: var(--logo-color);
    transition-property: transform, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 4px;
}
.checkbox {
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute; */

    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.conditions-label {
    display: flex;
    align-items: center;
}
.conditions-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 7px;
}
.checkbox:checked + .conditions-icon {
    background-color: #2196f3;
    border: 2px solid #2196f3;
    background-image: url('../images/icon\ check.svg');
    background-size: contain;
    background-origin: border-box;
}
.form-label {
    @include font(null, 12px, 1.17, 0.01em);
    color: #757575;
    display: block;
}

.form-text {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-family: inherit;
    @include font(400, 14px, 1.14, 0.01em);
    resize: none;
    margin-bottom: 10px;
    &:hover,
    &:focus {
        border: 1px solid #2196f3;
    }
}

.form-btn {
    display: inline-block;
    font-family: inherit;
    @include font(700, 16px, 1.88, 0.06em);
    cursor: pointer;
    color: var(--hero-title-color);
    background-color: var(--logo-color);
    border-radius: 4px;
    padding: 10px 55px;
    border: 1px solid transparent;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 124px;
    margin-right: 124px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    &:hover,
    &:focus {
        background-color: var(--button-background-hover);
    }
}
