:root {
    --main-color: #212121;
    --secondary-color: #757575;
    --hero-title-color: #ffffff;
    --footer-item-color: rgba(255, 255, 255, 0.6);
    --logo-color: #2196f3;
    --hero-background-color: #2f303a;
    --button-background-color: #f5f4fa;
    --button-background-hover: #188ce8;
}
